@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/raleway-variablefont_wght-webfont.woff2") format("woff2"), url("/assets/fonts/raleway-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
}
.copy-large {
  font-size: 1.25rem;
}

.heading-large {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 51.66px;
}

@media screen and (min-width: 80rem) {
  .position-text-vertically {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%) rotate(90deg);
    text-wrap: nowrap;
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Raleway", serif;
}

*,
*:hover,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.button {
  padding: 1.25rem 2.5rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.button--primary {
  background-color: #253974;
  color: #ffffff;
}
.button__text {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  transition: all 0.25s ease-in;
  z-index: 2;
}
.button .button__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
  transition: all 0.25s ease-in;
  border-radius: 2.5rem;
  background-color: #202020;
}
.button:hover .button__overlay {
  bottom: 0;
}
.button:hover .button__text {
  transform: scale(1.07);
}

.card {
  padding: 0.938rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  background-color: #ffffff;
}
.card--shadow {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1607843137);
}
.card--column {
  flex-direction: column;
}

.card__img {
  width: 100%;
  height: auto;
}

.card__meta {
  font-size: 1rem;
  font-weight: 400;
  line-height: 18.78px;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28.8px;
  color: #253974;
}

.card__text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 23.4px;
  color: #202020;
}

.card__button {
  padding: 1.25rem 2.5rem;
  border-radius: 2.5rem;
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21.13px;
  letter-spacing: 0.01em;
}

.card__button--primary {
  background-color: #253974;
  color: #ffffff;
}

.container {
  width: 100%;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 2.1875rem 3.4375rem 2.875rem 3.125rem;
  position: relative;
}

.container__aside,
.container__main {
  z-index: 1;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: column;
}
.flex__justify__between {
  justify-content: space-between;
}
.flex__align__center {
  align-items: start;
}
.flex--gap--20 {
  gap: 1.25rem;
}
.flex--gap--32 {
  gap: 2rem;
}

.pattern {
  position: absolute;
  right: -32px;
  bottom: -83px;
  z-index: 0;
}
.pattern img {
  width: 100%;
  height: auto;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

@media screen and (min-width: 80rem) {
  .container {
    width: 80rem;
    padding: 4.375rem 6.875rem 5.75rem 6.25rem;
  }
  .flex {
    flex-direction: row;
  }
  .flex__align__center {
    align-items: center;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
}
@media screen and (min-width: 48rem) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 80rem) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */