@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Bold.woff2") format("woff2"), url("/assets/fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Light.woff2") format("woff2"), url("/assets/fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Regular.woff2") format("woff2"), url("/assets/fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
.copy-large {
  font-size: 1.25rem;
  font-weight: 300;
}

.heading-large {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 51.66px;
}

@media screen and (min-width: 80rem) {
  .position-text-vertically {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%) rotate(90deg);
    white-space: nowrap;
  }
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Raleway", serif;
  color: #202020;
}

*,
*:hover,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.button {
  padding: 1.25rem 2.5rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.button__anim {
  transition: all 0.3s ease-in;
}

.button__anim::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #253974;
  -webkit-clip-path: circle(0px at 0% 0%);
          clip-path: circle(0px at 0% 0%);
  transition: 0.5s ease-in-out;
  pointer-events: none;
  mix-blend-mode: overlay;
}

.button__anim:hover::before {
  -webkit-clip-path: circle(300px at 100% 100%);
          clip-path: circle(300px at 100% 100%);
}

.button--primary {
  background-color: #253974;
  color: #ffffff;
}

.button__text {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  transition: all 0.25s ease-in;
  z-index: 2;
}

.button__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
  transition: all 0.25s ease-in;
  border-radius: 2.5rem;
  background-color: #ffffff;
}

.card {
  padding: 0.9375rem;
  border-radius: 0.5rem;
  display: block;
  gap: 1.5rem;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.card:hover {
  transform: translateY(-5px) scale(1.02);
  cursor: pointer;
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 57, 116, 0.0392156863);
  -webkit-clip-path: circle(80px at 130% 130%);
          clip-path: circle(80px at 130% 130%);
  transition: 0.5s ease-in-out;
  pointer-events: none;
}

.card:hover::before {
  -webkit-clip-path: circle(160px at 90% 90%);
          clip-path: circle(160px at 90% 90%);
}

.card--column {
  flex-direction: column;
}

.card--shadow {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1607843137);
}

.card__img {
  width: 100%;
  height: auto;
}

.card__meta {
  font-size: 1rem;
  font-weight: 400;
  line-height: 18.78px;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  z-index: 5;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28.8px;
  color: #253974;
}

.card__text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 23.4px;
  color: #202020;
}

.card__button {
  padding: 1.25rem 2.5rem;
  border-radius: 2.5rem;
  display: flex;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21.13px;
  letter-spacing: 0.01em;
}

.card__button--primary {
  background-color: #253974;
  color: #ffffff;
}

.card:hover .card__floating {
  bottom: 0;
  opacity: 1;
}

.container {
  width: 100%;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 2.1875rem 3.4375rem 2.875rem 3.125rem;
  position: relative;
}

.container__aside,
.container__main {
  z-index: 1;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex__justify__between {
  justify-content: space-between;
}

.flex__align__center {
  align-items: start;
}

.flex--gap--20 {
  gap: 1.25rem;
}

.flex--gap--32 {
  gap: 2rem;
}

.pattern {
  position: absolute;
  right: -32px;
  bottom: -83px;
  z-index: 0;
}
.pattern img {
  width: 100%;
  height: auto;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

@media screen and (min-width: 80rem) {
  .container {
    width: 80rem;
    padding: 4.375rem 6.875rem 5.75rem 6.25rem;
  }
  .flex {
    flex-direction: row;
  }
  .flex__align__center {
    align-items: center;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */