@use '../globals' as g;

.button{
    padding: 20px 40px;
    border-radius: 40px;
    display: inline-flex;
    &--primary{
        background-color: g.$CTA-primary;
        color: g.$on-CTA-primary;
    }
}

