@use "./font" as f; //making use of fonts by bringing in the font partial, declaring it's usage as "F" which stands for Font
@use "./color" as c; //making use of colors by bringing in the color partial, declaring it's usage as "C" which stands for color

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: f.$font;
  color: c.$black;
}

*,
*:hover,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
