@use "./font" as f;

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: f.$font;
}

*,
*:hover,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
