@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/raleway-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/raleway-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
}

$font: "Raleway", serif;

.copy-large {
  font-size: 1.25rem;
}

.heading-large {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 51.66px;
}

@media screen and (min-width: 80rem) {
  .position-text-vertically {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%) rotate(90deg);
    text-wrap: nowrap;
  }
}
