@use "./color" as c; //making use of colors by bringing in the color partial, declaring it's usage as "C" which stands for color

.container {
  width: 100%;
  background-color: c.$bg-color;
  margin: 0 auto;
  padding: 2.1875rem 3.4375rem 2.875rem 3.125rem;
  position: relative;
  overflow: hidden;
}

.container__aside,
.container__main {
  z-index: 1;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex__justify__between {
  justify-content: space-between;
}

.flex__align__center {
  align-items: start;
}

.flex--gap--lg {
  gap: 1.25rem;
}

.flex--gap--20 {
  gap: 1.25rem;
}

.flex--gap--32 {
  gap: 2rem;
}

.pattern {
  position: absolute;
  right: -32px;
  bottom: -83px;
  z-index: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

@media screen and (min-width: 80rem) {
  .container {
    width: 80rem;
    padding: 4.375rem 6.875rem 5.75rem 6.25rem;
  }

  .flex {
    flex-direction: row;
  }

  .flex--gap--lg {
    gap: 19.5rem;
  }

  .flex__align__center {
    align-items: center;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
